<!DOCTYPE html>
<html lang="en" ng-app="rideHiveApp">
<head>
  <title>Ride Hive | Fiyin Adebayo</title>
  <link rel="shortcut icon" href="images/car_icon.png">
  <link rel="stylesheet" href="styles/rideHive.css">
  <link href='http://fonts.googleapis.com/css?family=Stalemate' rel='stylesheet' type='text/css'>
</head>

<body ng-controller = "rhController">
  
  <div id="main">
    <nav>
      <ul>
        <li>Home</li>
        <li>About</li>
        <li>Contact</li>
        <li>faq</li>
      </ul>
    </nav>
    
    <div id="headWrap">
      <header>
        <h1>Ride Hive</h1>
        <em>...for car lovers</em>
      </header>
    
      <div id="headText">
        <p>Your one stop for detailed infomation on cars, truck, SUV, van, minivan...</p>
        <p>Search for your favourite cars here...</p>
        <p>Search for <em>{{queryInput}}</em></p>
      </div>

      <div id="alert" ng-bind="statusOutput">
      </div>

      <div id="formWrap">
        <form>
          <label for="queryInput">Make:</label>
          <input type="text" ng-model="queryInput" ng-keyup="fetchModels()" id="queryInput" placeholder="Enter Car Make..." />
          
          <label for="queryModel">Model:</label>
          <select id="queryModel" ng-model="queryModel" ng-change="fetchYears()">
            <option ng-repeat="model in models">{{model.name}}</option>
          </select>
          
          <label for="makeYear">Year:</label>
          <select id="makeYear" ng-model="queryYear">
            <option ng-repeat="modelYear in years">{{modelYear.year}}</option>
          </select>
          
          <input type="submit" id="querySubmit" value="Go" ng-click="fetchStyles()" />
        </form>

      </div>
  </div>


  <div id="results">
    <div id="resultsText">  
      <p class="basicInfo"> {{head1}} 
        <ul class="resultsList">
          <li> {{carMake}} </li>
          <li> {{carModel}} </li>
          <li> {{carWheels}} </li>
          <li> {{carDoors}} </li>
          <li> {{carYear}} </li>
          <li> {{carTrim}} </li>
        </ul>
      </p>

      <p class="engineDetails"> {{head2}}
        <ul class="resultsList">
          <li> {{engineName}} </li>
          <li> {{compressionRatio}} </li>
          <li> {{compressorType}} </li>
          <li> {{cylinder}} </li>
          <li> {{engineSize}} </li>
          <li> {{engineDisplacement}} </li>
          <li> {{engineConfig}} </li>
          <li> {{engineFuel}} </li>
          <li> {{horsepower}} </li>
          <li> {{torque}} </li>
          <li> {{valves}} </li>
          <li> {{engineCode}} </li>
        </ul>
      </p>

      <p class="transmission"> {{head3}}
        <ul class="resultsList">
          <li> {{transName}} </li>
          <li> {{transType}} </li>
          <li> {{transSpeed}} </li>
        </ul>
      </p>

      <p class="carStyle"> {{head4}}
        <ul class="resultsList">
          <li> {{styleBriefs}} </li>
          <li> {{marketStyle}} </li>
          <li> {{styleClass}} </li>
          <li> {{vehicleSize}} </li>
          <li> {{bodyType}} </li>
          <li> {{vehicleStyle}} </li>
        </ul>
      </p>

      <p class="price"> {{head5}}
        <ul class="resultsList">
          <li> {{MSRP}} </li>
          <li> {{Invoice}} </li>
        </ul>
      </p>
    </div>

    <div id="resultsPhoto">
      <p ng-repeat="photo in allPhotos"> <span class="resultsList">{{photo.captionTranscript}}</span> <br />
        {{photo.subType}}  <br />
        <span class="picture"> <img src={{img}} width="400" height="300"> </span>  <br />
      </p>
      
    </div>

  </div>

  <footer>
    <p>Andela API project implemented using AngularJS</p>
    <p>Fiyin Adebayo | &copy; 2014</p>
  </footer>

  <script type="text/javascript" src="scripts/angular.js"></script>
  <script type="text/javascript" src="scripts/rideHive.js"></script>

</div>

</body>
</html>