<!DOCTYPE html>
<html lang="en" ng-app="rideHiveApp">
<head>
  <title>Ride Hive | Fiyin Adebayo</title>
  <link rel="shortcut icon" href="images/car_icon.png">
  <link rel="stylesheet" href="styles/rideHive.css">
  <link href='http://fonts.googleapis.com/css?family=Stalemate' rel='stylesheet' type='text/css'>
</head>

<body ng-controller = "rhController">
  <div id="main">
    <header>
      <h1>Ride Hive {{names}}</h1>
      <em>...for {{56 - 43}} car lovers</em>
      <p>Your one stop for detailed infomation on cars, truck, SUV, van, minivan...</p>
    </header>

    <!-- <p style="text-align: center;">Search for  </p> -->

    <div id="alert" ng-bind="statusOutput">
    </div>

    <div id="query">
      <p>Search for your favourite cars here... Search for <em>{{queryInput}}</em></p>

      <div id="formWrap">
        <form>
          <label for="queryInput">Make:</label>
          <input type="text" ng-model="queryInput" ng-keyup="fetchModels()" id="queryInput" placeholder="Enter Car Make..." />
          <br /><br />

          <label for="queryModel">Model:</label>
          <select id="queryModel" ng-model="queryModel" ng-change="fetchYears()">
            <option ng-repeat="model in models">{{model.name}}</option>
          </select>
<!-- 
          <input type="text" id="queryModel" placeholder="Enter Car Model..." /> -->
          <br /><br />
          
          <label for="makeYear">Year:</label>
          <select id="makeYear" ng-model="queryYear">
            <option ng-repeat="modelYear in years2">{{modelYear.year}}</option>
          </select>
          
          <br /><br />
          
          
          <input type="submit" id="querySubmit" value="Go" ng-click="fetchStyles()" />
        </form>
      </div>

    </div>

    <div>You selected: {{queryModel}} and {{queryYear}}
    </div>

    <div id="results">
      <ul>
        <li ng-bind="engineInfo"></li>
      </ul>
    </div>

    <footer>
      <p>Andela API project implemented using AngularJS</p>
      <p>Fiyin Adebayo | &copy; 2014</p>
    </footer>

    <script type="text/javascript" src="scripts/angular.js"></script>
    <script type="text/javascript" src="scripts/rideHive.js"></script>
  </div>
</body>
</html>