<!DOCTYPE html>
<html lang="en" ng-app="rideHiveApp">
<head>
  <title>Ride Hive | Fiyin Adebayo</title>
  <link rel="shortcut icon" href="images/car_icon.png">
  <link rel="stylesheet" href="styles/rideHive.css">
  <link href='http://fonts.googleapis.com/css?family=Stalemate' rel='stylesheet' type='text/css'>
</head>

<body ng-controller = "rhController">
  <div id="main">
    <header>
      <h1>Ride Hive {{names}}</h1>
      <em>...for {{56 - 43}} car lovers</em>
      <p>Your one stop for detailed infomation on cars, truck, SUV, van, minivan...</p>
    </header>

    <!-- <p style="text-align: center;">Search for  </p> -->

    <div id="alert" ng-bind="statusOutput">
    </div>

    <div id="query">
      <p>Search for your favourite cars here... Search for <em>{{queryInput}}</em></p>

      <div id="formWrap">
        <form>
          <label for="queryInput">Make:</label>
          <input type="text" ng-model="queryInput" id="queryInput" placeholder="Enter Car Make..." />
          <br /><br />

          <label for="queryModel">Model:</label>
          <input type="text" id="queryModel" placeholder="Enter Car Model..." />
          <br /><br />
          
          <label for="makeState">State of Car:</label>
          <select id="makeState">
            <option value="">Select Car State...</option>
            <option value="new">New</option>
            <option value="used">Used</option>
            <option value="future">Future</option>
          </select><br /><br />
          
          <label for="makeYear">Year:</label>
          <input type="text" id="makeYear" placeholder="e.g. 2014" />
          <br /><br />
          
          <label for="keyword">keywords:</label>
          <input type="text" id="keyword" placeholder="e.g. awd, black" /><br /><br />
          
          <input type="submit" id="querySubmit" value="Go" ng-click="fetchModels()" />
        </form>
      </div>

    </div>

    <div id="results">
    </div>

    <footer>
      <p>Andela API project implemented using AngularJS</p>
      <p>Fiyin Adebayo | &copy; 2014</p>
    </footer>

    <script type="text/javascript" src="scripts/angular.js"></script>
    <script type="text/javascript" src="scripts/rideHive.js"></script>
  </div>
</body>
</html>